body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  width: 85%;
  margin: 20px auto;
  background: white;
  padding: 20px;
}

.main-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}

.search-section input {
  padding: 6px;
  width: 200px;
}

.search-section button,
.add-book button,
.issue-box button {
  padding: 6px 12px;
}

.issue-box {
  margin-top: 20px;
}

.issue-box textarea {
  width: 100%;
  height: 80px;
  padding: 8px;
}

.add-book {
  margin-top: 20px;
}

.add-book input {
  padding: 6px;
  margin-right: 10px;
}

/* Table */
.book-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999;
  padding: 8px;
  text-align: center;
}

th {
  background: #ddd;
}

/* Delete button */
.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
